<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rudby.boutique.repository.CategoriaDao">
	 
	<select id="getCategoriasPrincipales" statementType="CALLABLE" resultType="Categoria">
		CALL USP_GETCategoriasPrincipales 
	</select>
	
	<select id="getCategorias" statementType="CALLABLE" resultType="Categoria">
		CALL USP_GETCategoriasTodas 
	</select>
	
 
</mapper>