<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rudby.boutique.repository.ProductoDao">
	 
	<select id="getProductosPorCategoria" statementType="CALLABLE" parameterType="int" resultType="ProductoTienda" >
		CALL USP_GETProductosPorCategoria (#{codigo_categoria})
	</select>
 
	<select id="getProductoPorCodigo" statementType="CALLABLE" parameterType="int" resultType="ProductoTiendaDetalle" >
		CALL USP_GETProductoPorCodigo (#{codigo_producto})
	</select>
 
 	<select id="getImagenesPorCodigoProducto" statementType="CALLABLE" parameterType="int" resultType="String" >
 	CALL USP_GETImagenesProductoPorCodigo (#{codigo_producto})
 	</select>
 	
 	
 	<select id="getProductosRelacionadosPorProducto" statementType="CALLABLE" parameterType="int" resultType="ProductoTienda" >
		CALL USP_GETProductosRelacionadosPorProducto (#{codigo_categoria})
	</select>
</mapper>