<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rudby.boutique.repository.SuscritosDao">


	<insert id="RegistrarSuscriptor" statementType="CALLABLE" parameterType="Suscritos">
		CALL USP_POSTRegistrarSuscritos (#{nombre},#{correo})
	</insert>

	<select id="VerificarExistenciaCorreo" statementType="CALLABLE" resultType="Boolean" parameterType="String">
		CALL USP_GETExistenciaCorreoSuscriptor (#{documento})
	</select>

</mapper>