<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rudby.boutique.repository.UsuarioDao">
	 
	<insert id="RegistrarUsuario" statementType="CALLABLE" parameterType="Usuario" >
		CALL USP_POSTRegistrarUsuario (#{nombre},#{ape_paterno},#{ape_materno},#{codigo_tipodocumento},#{documento},#{correo},#{clave},#{token}) 
	</insert>
 
 	<!-- insert id="RegistrarUsuario" statementType="CALLABLE" parameterType="Map" >
		CALL USP_POSTRegistrarUsuario (#{nombre},#{ape_paterno},#{ape_materno},#{codigo_tipodocumento},#{documento},#{correo},#{clave},#{token}) 
	</insert-->
	
	<select id="VerificarExistenciaDocumento" statementType="CALLABLE" resultType="Boolean" parameterType="String">
		CALL USP_GETExistenciaDOCUMENTO (#{documento})
	</select>
	
	<select id="VerificarExistenciaCorreo" statementType="CALLABLE" resultType="Boolean" parameterType="String">
		CALL USP_GETExistenciaCORREO (#{correo})
	</select>
	
	<select id="LoginUsuario" statementType="CALLABLE" resultType="Usuario" parameterType="Map">
		CALL USP_GETLoginUsuario (#{correo},#{clave})
	</select>
</mapper>